.startBtn {
  display: block;
  margin: 0 0 15px 0;
  text-decoration: none;
  padding: 7px 12px;
  border: 2px solid #f14668;
  cursor: pointer;
  width: 130px;
  background-color: #f14668;
  color: white;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 5px 20px -5px rgba(#818181, .9);

}