.header__btn {

  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.header__title {
  display: inline-block;
  margin: 20px;
}

.header__subtitle {
  display: inline-block;
  margin-top: 20px;
}